* {
    box-sizing: border-box;

}

body {
    background-color: rgb(226, 221, 226);
    padding: 0;
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(226, 221, 226);
    color: #f2f8f4;
}

h1 {
    border: 3px solid #10381e;
    background-color: #a4cae9;
    padding: 2%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
    box-shadow: 10px 10px 2px 1px rgba(44, 44, 64, 0.2);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4% 20px 2px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

a {
    margin-right: 20px;
    color: #a66363;
    text-decoration: underline;
}

/* Pictute */
.hero {
    background-image: url("../images/2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    min-height: 60vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero div {
    flex: 0 0 90%;
}

/* Quote */
.hero h2 {
    background-color: #d3b2b2;
    margin: 0;
    padding: 5px 10px;
    line-height: 2.3rem;
    display: inline;
    box-shadow: 10px 10px 2px 1px rgba(44, 44, 64, 0.2);
}

.JL {
    font-style: italic;
}

main {
    max-width: 89%;
    margin: 20px auto 45px auto;
}

/* Section */
.sectionArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 0;
    border: 3px solid #10381e;
    margin: 30px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a4cae9;
    color: #ffffff;

}

.sectionArea>h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 5px solid #10381e;
    font-size: 4vw;
    line-height: 1.1;
}

/* this will impact all divs under section parent */
.sectionArea>div {
    flex: 0 0 77%;
}

.aboutMe {
    display: flex;
}

.aboutMe img {
    margin-right: 20px;
    max-height: 280px;
    border-radius: 60px;
    box-shadow: 10px 10px 2px 1px rgba(44, 44, 64, 0.2);
}

.aboutPTag p {
    padding: 0 15px;
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-box {
    border: 5px solid #10381e;
    background-color: #f1f4f6;
    color: #000000;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    margin: 0.5em;
    background-size: 70%;
    background-position: center;
}


/* First project */
.work-box:first-child {
    width: 200px;
    max-height: 100%;
    flex-basis: 100%;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#name {
    background-color: #10381e;;
}


.Project1 {
    background-image: url("../images/Screen\ Shot\ 2023-08-17\ at\ 11.00.32\ PM.png");
    background-size: 44%;
}


.Project2 {
    background-image: url("../images/your\ space\ gradient.PNG");
}

/* .Project3 {
    background-image: url("../images/Project3.png");
}

.Project4 {
    background-image: url("../images/Project4.jpeg");
} */ 

/* .Project5 {
    background-image: url("../images/Project5.png");
} */

.highlighted-text {
    font-weight: bolder;
}

.contactLinks {
    margin-top: 3%;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h3 {
    font-size: 18px;
    text-decoration: underline;
    color: #a66363;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
        background: #f5f48f;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    nav {
        background-color: #f0b7fd;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .hero {
        background-color: #f2f4f3;
    }
}