* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(226, 221, 226);
    color: #10381e;
}

h1 {
    display: inline-block;
    font-size: 50px;
}

nav {
    padding-top: 15px;
    margin-right: 100px;
    display: flex;
    justify-content: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #a66363;
    text-decoration: none;
}


.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/2.png");
    background-size: cover;
    background-position: center;
}

section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #76b6eb;
    color: #ffffff;

}

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border: 3px solid #10381e;
    margin: 50px;
}



section img {
    max-height: 280px;
    border-radius: 0 10% 0 10%;

}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #a66363;
}


section p {
    font-size: 20px;
}

#work {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border: 3px solid #10381e;
    margin: 50px;
}

#contact-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border: 3px solid #10381e;
     margin: 50px;
}

.highlighted-text {
    font-weight: bolder;
  }

#contact-me{
    display: flex;

}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .hero {
      background-color: #8ac4ff;
    }
  }