* {
    box-sizing: border-box;

}

body {
    background-color: rgb(226, 221, 226);
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(226, 221, 226);
    color: #f2f8f4;
}

h1 {
    border: 3px solid #10381e;
    background-color: #a4cae9;
    padding: 2%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
    box-shadow: 10px 10px 2px 1px rgba(44, 44, 64, 0.2);
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4% 20px 2px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

a {
    margin-right: 20px;
    color: #a66363;
    text-decoration: underline;
}

.hero {
    background-image: url("../images/2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    min-height: 60vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}


    /* height: 60vh;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 25px; */
    /* background-image: url("../images/2.png"); */
    /* background-size: 170%;
    background-repeat: no-repeat;
    background-position: center;
} */

.hero div {
    flex: 0 0 90%;
}


.hero h2 {
    background-color: #d3b2b2;
    margin: 0;
    padding: 5px 10px;
    line-height: 2.3rem;
    display: inline;
    box-shadow: 10px 10px 2px 1px rgba(44, 44, 64, 0.2);
}
/* .hero h2 {
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    border: 3px solid #10381e;
    margin: 80px 49px 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #f7fbf8;
    text-align: right;
    font-size: 24px;
    background-color: #a4cae9;
} */

.JL {
    font-style: italic;
}

main {
    max-width: 89%;
    margin: 20px auto 45px auto;
}

.sectionArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 0;
    border: 3px solid #10381e;
    margin: 30px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a4cae9;
    color: #ffffff;

}



/* this is using the flexbox properties for flexing and alignment, and responsive properties act correctly */
.sectionArea>h2 {
    /* adding the flex basis for h2 to share 20% of the row w/ the div, everything lines up exactly*/
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 5px solid #10381e;
    font-size: 4vw;
    line-height: 1.1;
}

/* this will impact all divs under section parent */
.sectionArea>div {
    flex: 0 0 77%;
}

/* targeting only one div in the about  - want the img and p on the same row*/
.aboutMe {
    display: flex;
}

.aboutMe img {
    /* margin-left: 2px; */
    margin-right: 20px;
    max-height: 280px;
    border-radius: 60px;
    box-shadow: 10px 10px 2px 1px rgba(44, 44, 64, 0.2);
}

.aboutPTag {
    display: flex;
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-box {
    border: 3px solid #10381e;
    background-color: #a4cae9;
    color: #000000;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    margin: 0.5em;
}

.work-box:first-child {
    max-height: 400px;
    flex-basis: 100%;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
}

.Project1 {
    background-image: url("../images/Project1.jpeg");
}

.Project2 {
    background-image: url("../images/Project2.jpeg");
}

.Project3 {
    background-image: url("../images/Project3.png");
}

.Project4 {
    background-image: url("../images/Project4.jpeg");
}

.Project5 {
    background-image: url("../images/Project5.png");
}


.highlighted-text {
    font-weight: bolder;
}

.contactLinks {
    margin-top: 3%;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h3 {
    font-size: 18px;
    text-decoration: underline;
    color: #a66363;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
        background: #f5f48f;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    nav {
        background-color: #f0b7fd;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .hero {
        background-color: #f2f4f3;
    }
}